### Question 1:

In [14]:
age = 18
credit = 650
ann_income = 30000

if age >= 18:
    if credit >= 700:
        if ann_income >= 25000:
            print("Eligible for loan")
        else:
            print("Not eligible for loan")
        
    elif credit >= 650:
        if ann_income >= 30000:
            print("Eligible for loan")
        else:
            print("Not eligible for loan")
    else:
        print("Not eligible for loan")    

else:
    print("Not eligible for loan")

Eligible for loan

### Question 2:

In [21]:
age = int(input("Enter your age:"))

if age >= 18:
    exp = int(input("How many years of experience do you have?"))
    if exp >= 10:
        print("You have a lot of experience.")
    elif exp >= 5:
        print("You have moderate experience.")
    elif exp >= 2:
        print("You are relatively new.")
    else:
        print("You are just starting out.")
    
else:
    print("You are underage")

Enter your age: 18
How many years of experience do you have? 5

You have moderate experience.

### Question 3:
### a)

In [31]:
int_1 = 80
int_2 = 80

print(id(a))
print(id(b))

140726948982152
140726948982152

### Question 3:
### b)

In [31]:
import sys

int_1 = 80
int_2 = 80
string_1 = "My name is Abdullah Hasan"
string_2 = "This is Assingment No. 3"
float_1 = 1548.15
float_2 = 453.3
list_1 = [23, 32, 22, 5, 1, 5]
list_2 = ['23', '32', '41', '32', '56 any word']

list_new = []
list_new.append(sys.getsizeof(int_1))
list_new.append(sys.getsizeof(int_2))
list_new.append(sys.getsizeof(string_1))
list_new.append(sys.getsizeof(string_2))
list_new.append(sys.getsizeof(float_1))
list_new.append(sys.getsizeof(float_2))
list_new.append(sys.getsizeof(list_1))
list_new.append(sys.getsizeof(list_2))
print(list_new)

minimum_value = min(list_new)
print("Least memory size is", minimum_value)

[28, 28, 66, 65, 24, 24, 104, 104]
Least memory size is 24

### Question 3:
### c)

In [32]:
print(type(float_1))

<class 'float'>

### Question 4:

In [4]:
email = input("Enter your email address:")

if ('@' in email) and ('.' in email):
    print("Email is valid")
else:
    print("Invalid email format")

Enter your email address: abdullah.aha.hhhhahha23@gmail.com

Email is valid

### Question 5:

In [111]:
x = (11,22.333,'apple',[1,2,3],('a','b'))

new_list = []

for i in x:
    new_list.append(type(i))

new_list

[int, float, str, list, tuple]

### Question 6:

In [8]:
list_of_users = [("alice","admin"),("bob","user"),("charlie","moderator")]
user = input("Enter Username")

user_found = False
admin_check = False
admin = "admin"

for i in list_of_users:
    if user in i:
        user_found = True
        if i[1] is admin :
            admin_check = True
        break
            

print("User Exists:", user_found)
print("User is admin:", admin_check)

Enter Username bob

User Exists: True
User is admin: False

### Question 7:

In [7]:
person1 = ['george','alice','NY','5435']
person2 = person1
person3 = ['fred','mary','NY','5435']

if person1 is person2:
    print("Person1 and Person2 has a Sibling Relation")
else:
    print("Person1 and Person2 are not Siblings")

if person1 is not person3:  
    print("Person1 and Person3 has a Cousin Relation")

Person1 and Person2 has a Sibling Relation
Person1 and Person3 has a Cousin Relation

### Question 8:

In [11]:
book1 = ('Throne of Glass', 'Sarah J. Maas', 2011, 2200)
book2 = ('Maze Runner', 'James Dashner', 2009, 2000)
book3 = ('Hunger Games', 'Suzanne Collins', 2008, 1900)

book_name = input("Enter Book Name:")
book_author = input("Enter Book Author Name:")
book_year = int(input("Enter Book Publish Year:"))
book_price = int(input("Enter Book Price:"))

if (book_name in book1) or (book_author in book1) or (book_year in book1) or (book_price in book1):
    print("Book Found",book1)
elif (book_name in book2) or (book_author in book2) or (book_year in book2) or (book_price in book2):
    print("Book Found",book2)
elif (book_name in book3) or (book_author in book3) or (book_year in book3) or (book_price in book3):
    print("Book Found",book3)
else:
    print("No record found")

Enter Book Name: Maze Runner
Enter Book Author Name: DN
Enter Book Publish Year: 0
Enter Book Price: 0

Book Found ('Maze Runner', 'James Dashner', 2009, 2000)

### Question 9:

In [25]:
offered_subjects = ["Math", "Science", "History", "Geography", "Computer Science",
                    "math", "science", "history", "geography", "computer science", "Computer science"]

subject = input("Enter Subject:")

if subject in offered_subjects:
    print("Subject is Available")
else:
    print("Subject is not Available")

Enter Subject: science

Subject is Available

### Question 10:

In [23]:
tuple_10 = (932,56,2,43,7,5,4,6,2,6,2,7,8,4,6,3,1)

tuple_index = int(input("Enter the number you want to find in the tuple:"))

if tuple_index in tuple_10:
    first_index = tuple_10.index(tuple_index)
    print("The index of first occurence of your input in the tuple is:", first_index)
    number_count = tuple_10.count(tuple_index)
    if number_count > 0:
        print("The count of your number is:", number_count)
    else:
        print("The count of your number is: 0")
else:
    print("Number not in the tuple")

Enter the number you want to find in the tuple: 4951

Number not in the tuple

### Extra Question

In [29]:
temp = int(input("Enter temperature in Celsius:"))

if temp == -5:
    print("Freezing")
elif temp == 25:
    print("Normal")
elif temp == 40:
    print("Hot")

Enter temperature in Celsius: 25

Normal